#chat-body, #chat-body>img {
  height: calc(max(100vh - 13.06rem, 26.94rem));
}

#chat-body>img {
  position: fixed;
  top: 8.56rem;
  opacity: .2;
  left: 25%;
  width: 75%;
  z-index: -1;
}

.message {
  background-color: #b2ffff;
  border-radius: .5rem;
  clear: both;
  margin: .5rem 0;
  max-width: 75%;
  word-break: break-all;
  animation: bounce ease-in-out .2s 1 .3s;
}

@keyframes bounce {
  0% {
    transform: scale(.1);
  }

  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

#type-message {
  border: none;
  outline: none;
  font-size: 1rem;
}

#type-message:focus {
  box-shadow: none;
}