.ant-tabs-content-holder {
  width: 95% !important;
}

#chat-body, #chat-body>img {
  height: calc(max(100vh - 13.06rem, 26.94rem));
}

#chat-body>img {
  position: fixed;
  top: 8.56rem;
  opacity: .1;
  left: 25%;
  width: 75%;
  z-index: -1;
}

.message {
  background-color: #b2ffff;
  clear: both;
  margin: .5rem 0;
  max-width: 75%;
  word-break: break-all;
}

#type-message {
  border: none;
  outline: none;
  font-size: 1rem;
  resize: none;
}

#type-message:focus {
  box-shadow: none;
}