.login {
  height: calc(max(100vh, 40rem));
}

.ant-form-item-control-input .ant-btn:hover {
  color: var(--primary);
  background: #fff;
  border-color: var(--primary);
}

.ant-input-prefix {
  margin-right: 1rem !important;
}

.ant-input-affix-wrapper:focus-within, .ant-input-affix-wrapper:hover {
  border-color: var(--primary) !important;
}