* {
  scroll-behavior: smooth;
}

:root {
  --primary: #1c98f7;
}

::-webkit-scrollbar {
  width: 0;
}

.ant-popover-inner {
  padding: 0 !important;
}

.epr-search, .epr-emoji-category-label {
  font-size: 1rem !important;
  font-weight: normal !important;
}